<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Ruby Store</title>

    <!-- Bootstrap core CSS -->
      <link href="/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/styles/my.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>

  <body>

    <div class="counter">
    Visit counter: <%= @counter %> 
    <% if @last_visit %>
      Last visit: 
      <%= @last_visit %>
    <% end %>
    </div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              
            </div>
          </div>

        </div>

      </div>

    </div>
  <script type="text/javascript" src="/js/my.js"></script>
  </body>
</html>
